<!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"-->
<link rel="stylesheet" type="text/css" href="../static/style.css">
<div class="loggedin">
  <div class="form">
    <form class="login-form" method="POST">
      <input name="loc" type="text" placeholder="Location"/>
      <input name="blood" type="password" placeholder="Blood Group"/>
      <button>Submit</button>
      <!--input type="submit"-->
      <!--p class="message">Not registered? Contact administrator<a href="#">Create an account</a></p-->
    </form>
  </div>
</div>

