<!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"-->

<title>Demo</title>
<h2>Hello stranger, you are all set for a Demo!</h2>

<link rel="stylesheet" type="text/css" href="../static/style.css">
<body>
<div class="loggedin">
  <div class="form">
    <h3>Google Search for coordinates</h3>
    <form class="login-form" method="POST" target = "_blank" action = "/googlesearch">
      <input name="locname"  placeholder="Location Name" value = "aiims latitude longitude"/>
      <button>Search</button>
      <!--input type="submit"-->
      <!--p class="message">Not registered? Contact administrator<a href="#">Create an account</a></p-->
    </form>
  </div>
</div>

<div class="loggedin">
  <div class="form">
    <h3>Search for Records</h3>
    <form class="login-form" method="POST" action="/dummyrecord">
      <input name="loc"  placeholder="Location Coordinates" value = "28.5679° N, 77.2095° E"/>
      <input name="blood"  placeholder="Blood Group" value = "O+ B-"/>
      <button>Submit</button>
      <!--input type="submit"-->
      <!--p class="message">Not registered? Contact administrator<a href="#">Create an account</a></p-->
    </form>
  </div>
</div>
</body>
<script type="text/javascript">
window.onload = function () {alert("Search google for \"Aiims latitude longitude\" and copy paste the results in the Location field.")}
</script>
<h3 align = "left">0. Watch <a target="_blank" href = "https://drive.google.com/file/d/17nIat-GgiB-2KqJq7hb5Du7DmvQGdH3P/view">this one-minute video</a> to see how we work</h3>

<h3 align = "left">1. Search for <a target="_blank" href = "https://www.google.com/search?q=aiims+latitude+longitude">aiims latittude longitude</a> for Location field<br>28.5679° N, 77.2095° E</h3>

<h3 align = "left">2. Enter a space separated list of blood groups<br>O+ O-</h3>

